body {

  padding: 0;
  font-family: sans-serif;
  width: 90%;
  margin: auto;
}


.title{
  font-weight: bold;
  color: darkgray;
  font-size: 1.5em;
  padding: 1em;
}

.title-header{
  font-weight: bold;
  color: black;
  font-size: 2.2em;
  padding: 0.5em;
}

.Overview .member-title{
  font-weight: bold;
}
